body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}

.menu-wrap {
    background-color: #FFF0F5;
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 1550px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

.menu-wrap ul {
    list-style: none;
}

.menu-wrap ul li a {
    float: left;
    width: 150px;
    display: block;
    text-align: center;
    color: #696969;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-wrap ul li a:hover {
    background-color: #FA8072;
    display: block;
}

.menu-wrap ul li:hover ul {
    display: block;
}

.menu-wrap ul ul {
    display: none;
    list-style: none;
    position: absolute;
    background-color: #FA8072;
    left: 100px;
    top: 50px;
    width: 190px;
}

.menu-wrap ul ul li a {
    float: none;
    display: block;
    padding-left: 30px;
    text-align: center;
    width: 160px;
}

.menu-wrap ul ul li a:hover {
    color: #fff;
}